### Mongodb Aggregate And Group
1. avg
2. sum
3. project

In [2]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
conn = "mongodb+srv://AK_310721:Hallo1234@cluster0.ujmxj.mongodb.net/test"
client = MongoClient(conn)  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [3]:
### Find Amit And Krish Total Subjects
agg_result= collection.aggregate([
                                { 
                                "$group" :  
                                    {"_id" : "$user",       #  unique record
                                     "Total Subject" : {"$sum" : 1} 
                                     }
                                } 
                                ]) 
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [4]:
### Find Amit And Krish Total Subjects
agg_result= collection.aggregate([
                                { 
                                "$group" :  
                                    {"_id" : "$title",       #  unique record
                                     "Total Subject" : {"$sum" : 1} 
                                     }
                                } 
                                ]) 
for i in agg_result: 
    print(i)

{'_id': 'Database', 'Total Subject': 1}
{'_id': 'JavaScript', 'Total Subject': 1}
{'_id': None, 'Total Subject': 2}
{'_id': 'Data Science', 'Total Subject': 2}

In [5]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
                                    [{ 
                                    "$group" :  
                                        {"_id" : "$user",  
                                         "Total Marks" : {"$sum" :"$score"} 
                                         }} 
                                    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'Total Marks': 235}
{'_id': 'Krish', 'Total Marks': 250}

In [6]:
### Calculating the average score based on user
agg_result=collection.aggregate([
                               {
                                  "$group": {
                                     "_id": '$user',
                                     "StudentScoreAverage": {
                                        "$avg": "$score"
                                     }
                                  }
                               }
                            ])
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}

In [7]:
import datetime as datetime

In [17]:
datetime.datetime.utcnow()

datetime.datetime(2021, 7, 31, 12, 27, 27, 248559)

In [18]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abcd", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [19]:
data

[{'_id': 1,
  'item': 'abcd',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 7, 31, 12, 28, 1, 407191)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 7, 31, 12, 28, 1, 407191)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 7, 31, 12, 28, 1, 407191)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 7, 31, 12, 28, 1, 407191)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 7, 31, 12, 28, 1, 407191)}]

In [21]:
# update item abc to abcd
mycollection=mydatabase['stores']  
mycollection.update_one(
{"item":"abc"},
{"$set":{"item":"abcd"},
"$currentDate":{"lastModified":True}}  
)

In [20]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'errmsg': 'E11000 duplicate key error collection: Students.stores index: _id_ dup key: { _id: 1 }', 'op': {'_id': 1, 'item': 'abcd', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2021, 7, 31, 12, 28, 1, 407191)}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [11]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [12]:
#### $Project operation............

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [13]:
# Access collection of the database  
collection=mydatabase['Books']

In [14]:
collection.insert_many(data)

In [15]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

In [16]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1, "copies":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334', 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999', 'copies': 2}